@charset "utf-8";
/*------------------------------ 通用样式 ------------------------------*/
body{font-family: "SourceHanSansCN-Normal-Alphabetic","Microsoft YaHei","SimSun","Roboto-Regular","Helvetica Neue",Helvetica,Arial,sans-serif!important;}
::-webkit-input-placeholder{ color:#909090;}
:-moz-placeholder{ color:#909090;}
::-moz-placeholder{ color:#909090;}
:-ms-input-placeholder{ color:#909090;}
/*********************************************************/
/*------------------------------ 页面样式 ------------------------------*/
body{font-size:14px; color:#707070; background:#edf0f3; background-size:100%; width:100%; height:100%; line-height:22px;}

/* scrollbar */
body .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color:rgba(0,0,0,0.2);}
body .mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
body .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color: rgba(0,0,0,.4);}

/* sequenceChart*/
dl,dd{
	margin: 0;
	padding: 0;
	list-style: none;
}
dl{
	margin-bottom: 20px;
}
dt{
	font-weight: bold;
}
div{
	box-sizing: border-box;
}
.box{
	width:90%; 
	height:380px; 
	margin:150px 5% 0; 
	padding:0 15px 15px;
	background:#fff;
}
.sequenceChart{ 
	width:100%; 
	height:100%; 
	padding-top:80px;
	position:relative; 
	overflow:hidden; 
	font-size:12px; 
	color:#707070; 
	line-height:22px;
}
.sequenceChart .timeLine{
	height: 80px;
	width: calc(100% - 230px);
	position: absolute;
	top: 0;
	right: 0;
	left:230px;
}

.sequenceChart .chartBox{
	border:1px solid #dddee4;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.sequenceChart .chartBox .graphChart{
	height: 500px;
	position: relative;
	padding-left:230px;
}
.sequenceChart .chartBox .graphChart .legendbox{
	width: 230px;
	height: 100%;
	background: #f5f5f5;
	border-right:1px solid #dddee4;
	position: absolute;
	top: 0;
	left: 0;
}
.sequenceChart .chartBox .graphChart .legendbox .ztree{padding: 0px;}
.sequenceChart .chartBox .graphChart .legendbox .ztree li a,
.sequenceChart .chartBox .graphChart .legendbox .ztree li a.curSelectedNode{ padding:0px; color:#707070; border:none; background:none; opacity:1;}
.sequenceChart .chartBox .graphChart .legendbox .ztree li a:hover{ text-decoration:none;}
.sequenceChart .chartBox .graphChart .legendbox .ztree li span{ color:#707070;}
.legendbox .ztree li span.button{ background-image:url(./images/common/zTreeStandard.png);}
.sequenceChart .chartBox .graphChart .legendbox .ztree li{
	line-height: 36px;
}
.sequenceChart .chartBox .graphChart .legendbox .ztree li a{
	height: 36px;
}
.sequenceChart .chartBox .graphChart .legendbox .ztree li span.button.ico_docu,
.sequenceChart .chartBox .graphChart .legendbox .ztree li span.button.ico_open,
.sequenceChart .chartBox .graphChart .legendbox .ztree li span.button.ico_close{
	vertical-align: middle;
}
.sequenceChart .chartBox .graphChart .chartbox{
	width: calc(100% - 230px);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.sequenceChart .y-axis line {
	stroke: #dbdbdb;
	fill: none;
	stroke-width: 1px;
}
.sequenceChart .timelinesvg{
	position: absolute;
	z-index: 2;
}
